backups/*
autosaves/*
tmp/*
auto-save-list
recentf
savehist
saveplace
eshell
elpa*
elpa/archives/*
session*
*elc
swank
tramp
url
*~
ac-comphist.dat
.emacs.desktop
emms/history
ido.last
smex-items
.emacs.desktop.lock
#*#